<% include ../header %>
    <div class="container">
        <ol class="breadcrumb">
            <li>
                <a href="#">后台管理页面</a>
            </li>
            <li>
                <a href="#">后台列表</a>
            </li>
        </ol>
    </div>
    <div class="row">
        <div class="col-md-3 hidden-sm hidden-xs"></div>
        <div class="col-md-6 col-sm-12">
            <form action="/admin/addList" method="POST" class="dataList">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1">排序</span>
                    <input type="number" class="form-control" name="order">
                </div>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1">名称</span>
                    <input type="text" class="form-control" name="listname">
                </div>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1">介绍</span>
                    <input type="text" class="form-control" name="intro">
                </div>
                <div>
                    <input type="submit" class="data-submit">
                </div>
            </form>
        </div>
        <div class="col-md-3 hidden-sm hidden-xs"></div>
    </div>
    <% include ../footer %>