*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #dbdbdb;
}
h1{
    padding: 20px 50px;
    color: #333;
    font-size: 40px;
    background-color: #fff;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: #c1c1c1;
}
.wrapper{
    margin-top: 20px;
    width: 100%;
}
.container{
    margin: 0 auto;
    width: 960px;
}
.items{
    height: 450px;
    font-size: 0;
    overflow: hidden;
}
.item{
    margin-bottom: 15px;
    margin-right: 30px;
    display: inline-block;
    width: 300px;
    height: 140px;
    background-color: #333;
}
.item-no{
    margin-right: 0;
}
.item a{
    display: block;
    text-align: center;
    font-size: 24px;
    line-height: 140px;
    font-weight: 700;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.start{
    background-color: red;
}
.start-change{
    box-shadow: 0 0 3px 3px #fff inset;
}
.start a{
    color: #fff;
}
.select{
    background-color: gold;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.select a{
    color: #fff;
}