 /* 整体样式设置 */
body {
	font-size: 12px;
	font-family: 'Microsoft YaHei',sans-serif;
	background: url('../images/bg_9b9dcb65ff.png');
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear:after {
	content: '';
	display: block;
	clear: both;
}
.clear::after {
	content: '';
	display: block;
	clear: both;
}
/* 整体样式设置 */

/* login */
.zc_wrapper {
	position: relative;
	width: 100%;
	min-width: 646px;
	height: 910px;
	box-sizing: border-box;
}
.zc {
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
    margin-top: -316px;
	margin-left: -225px;
	width: 450px;
	height: 535px;
    border: 1px solid #dadada;
    border-radius: 10px;
    box-shadow: 0 9px 30px -6px rgba(0,0,0,.2), 0 18px 20px -10px rgba(0,0,0,.04), 0 18px 20px -10px rgba(0,0,0,.04), 0 10px 20px -10px rgba(0,0,0,.04);
}
.zc h4 {
	width: 100%;
	line-height: 60px;
	font-size: 20px;
	color: #666;
	text-align: center;
    border-bottom: 1px solid #dcdcdc;
	background: linear-gradient(#fff,#f5f5f5);
}
.zc_detail {
	box-sizing: border-box;
	padding: 30px 40px 24px;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 471px;
}
.submit {
	box-sizing: border-box;
	background-color: #fff;
}
.num {
	margin-bottom: 15px;
	height: 48px;
}
.num_inner {
	position: relative;
	width: 100%;
	height: 48px;
    color: rgb(102, 102, 102);
    box-shadow: 0 3px 5px -4px rgba(0,0,0,.4) inset, -1px 0 3px -2px rgba(0,0,0,.1) inset;
    border: 1px solid rgba(204,204,204,.5);
    border-radius: 6px;
    font-size: 18px;
    box-sizing: border-box;
    transition: 1s;
}
.num_inner:hover {
	border-color: rgb(204,204,204);
}
.num_inner:hover .num_lg{
	opacity: 1;
}
.num_inner:hover .country {
	opacity: 1;
}
.num_lg {
	width: 47px;
	height: 46px;
	background: url('../images/dialog-input-icons_e7e327a2b8.png') no-repeat -1px 0;
	opacity: .5;
	transition: 1s;
	border-right: 1px solid rgba(204,204,204,.5);
}
.qh {
	width: 55px;
	line-height: 46px;
	text-align: center;
	color: #999;
}
.us_num {
	box-sizing: border-box;
	width: 158px;
	height: 44px;
	font-size: 16px;
	border: none;
}
.country {
	margin-right: 10px;
	box-sizing: border-box;
	padding-right: 20px;
	width: 95px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 46px;
	font-size: 15px;
	color: #999;
	text-align: center;
	border: none;
	background: url('../images/ic_change_7ce7ba3a23.png') no-repeat right center;
	cursor: pointer;
	opacity: .5;
	transition: 1s;
}
.country_change {
	opacity: 1;
}
.num_err {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 133px;
	height: 26px;
	line-height: 26px;
	font-size: 13px;
	color: #fff;
	text-align: center;
	border-radius: 4px;
	background: #d16d62;
	display: none;
}
.cou_angle {
	position: absolute;
	top: 40px;
	right: 35px;
	width: 12px;
	height: 12px;
	border-left: 1px solid #dadada;
	border-top: 1px solid #dadada;
	background: #fff;
	z-index: 100;
	transform: rotate(45deg);
	display: none;
}
.cou_list {
	position: absolute;
	top: 46px;
	right: 0px;
	width: 238px;
	height: 266px;
	overflow: auto;
	border: 1px solid #ccc;
	background-color: #fff;
	cursor: pointer;
	z-index: 99;
	display: none;
}
.geos_show {
	display: block;
}
.cou_list li {
	box-sizing: border-box;
	padding-left: 15px;
	width: 100%;
	line-height: 39px;
	font-size: 13px;
	color: #999;
	text-align: left;
	border-bottom: 1px solid #ccc;
}
.yzm {
	margin-bottom: 15px;
	height: 48px;
}
.yzm_inner {
	position: relative;
	width: 230px;
	height: 48px;
    color: rgb(102, 102, 102);
    overflow: hidden;
    box-shadow: 0 3px 5px -4px rgba(0,0,0,.4) inset, -1px 0 3px -2px rgba(0,0,0,.1) inset;
    border: 1px solid rgba(204,204,204,.5);
    border-radius: 6px;
    font-size: 18px;
    box-sizing: border-box;
    transition: 1s;
}
.yzm_inner:hover {
	border-color: rgb(204,204,204);
}
.yzm_inner:hover .yzm_lg{
	opacity: 1;
}
.yzm_lg {
	width: 47px;
	height: 46px;
	background: url('../images/dialog-input-icons_e7e327a2b8.png') no-repeat -97px 0;
	border-right: 1px solid #ccc;
	opacity: .5;
	transition: 1s;
}
.lg_change {
	opacity: 1;
}
.yan {
	box-sizing: border-box;
	padding: 12px 12px 12px 15px;
	width: 171px;
	line-height: 20px;
	font-size: 16px;
	border: none;
}
.yzm_err {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 80px;
	line-height: 26px;
	text-align: center;
	font-size: 12px;
	color: #fff;
	border-radius: 4px;
	background: #d16d62;
	display: none;
}
.get_yzm {
	width: 132px;
	line-height: 48px;
	text-align: center;
	font-size: 16px;
	color: #666;
	border: 1px solid #ccc;
	border-radius: 6px;
	background: linear-gradient(#fafafa,#e1e1e1);
	opacity: .5;
	transition: 1s;
}
.get_yzm_change {
	opacity: 1;
	transition: 1s;
	cursor: pointer;
}
.get_yzm_change:hover {
    box-shadow: 0 0 2px rgba(150, 150, 150,.6) inset;
}
.psw1,.psw1 {
	margin-bottom: 15px;
	height: 48px;
}
.psw1_inner,.psw2_inner {
    box-sizing: border-box;
	position: relative;
	width: 100%;
	height: 48px;
    color: rgb(102, 102, 102);
    box-shadow: 0 3px 5px -4px rgba(0,0,0,.4) inset, -1px 0 3px -2px rgba(0,0,0,.1) inset;
    border: 1px solid rgba(204,204,204,.5);
    border-radius: 6px;
    font-size: 18px;
    transition: 1s;
}
.psw_tip{
	box-sizing: border-box;
	position: absolute;
	top: 46px;
	left: 0;
	width: 351px;
	line-height: 50px;
	font-size: 14px;
	color: #999;
	text-align: center;
    border: 1px solid #dadada;
    box-shadow: 0 9px 30px -6px rgba(0,0,0,.2), 0 18px 20px -10px rgba(0,0,0,.04), 0 18px 20px -10px rgba(0,0,0,.04), 0 10px 20px -10px rgba(0,0,0,.04);
    background-color: #fff;
    z-index:99;
    display: none;
}
.angle {
	position: absolute;
	top: 40px;
	left: 68px;
	width: 12px;
	height: 12px;
	border-left: 1px solid #dadada;
	border-top: 1px solid #dadada;
	background: #fff;
	z-index: 100;
	transform: rotate(45deg);
    display: none;
    opacity: 0;
}
.psw1_inner:hover {
	border-color: rgb(204,204,204);
}
.psw2_inner:hover {
	border-color: rgb(204,204,204);
}
.psw1_inner:hover .psw1_lg{
	opacity: 1;
}
.psw2_inner:hover .psw2_lg{
	opacity: 1;
}
.psw1_lg,.psw2_lg {
	width: 47px;
	height: 46px;
	border-right: 1px solid #ccc;
	background: url('../images/dialog-input-icons_e7e327a2b8.png') no-repeat -49px 0;
	opacity: .5;
	transition: 1s;
}
.lg_change {
	opacity: 1;
}
.password1,.password2 {
	box-sizing: border-box;
	padding: 12px 12px 12px 15px;
	width: 318px;
	height: 46px;
	font-size: 16px;
	border: none;
}
.psw1_err,.psw2_err {
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 0 10px;
	line-height: 26px;
	font-size: 12px;
	text-align: center;
	color: #fff;
	border-radius: 4px;
	background-color: #d16d62;
	display: none;
}
.ty {
	margin: 15px 0 5px;
	color: #999;
}
.ty a {
	color: #5079d9;
}
.gou {
	padding-left: 22px;
	line-height: 16px;
	font-size: 12px;
	color: #999;
	background: url('../images/checkbox_f49f6e4acf.png') no-repeat;
	cursor: pointer;
}
.gou_change {
	background-position: 0 -20px;
}
.zhuce {
	margin-top: 25px;
	display: block;
	width: 100%;
	height: 48px;
	line-height: 48px;
	font-size: 18px;
	color: #fff;
	text-align: center;
    border-radius: 6px;
	background-color: #B8C9EC;
}
.zhuce_change {
	background: linear-gradient(#6f97e5,#527ed9);
	box-shadow:  0 1px 2px #7ea1e8 inset;
}
.border_change {
	border-color: #6B93F2;
}
.qt {
	box-sizing: border-box;
	margin: 30px auto 0;
	padding-top: 23px;
	width: 370px;
	height: 42px;
	line-height: 18px;
	text-align: center;
	color: #999;
	border-top: 1px solid #D9D9D9;
	background: url('../images/bg_9b9dcb65ff.png');
}
.qt a {
	font-size: 12px;
	color: #5079d9;
	transition: .6s;
}
.qt a:hover {
	color: #5079d9;
}
/* login end */

/* footer */
.footer {
	position: absolute;
	bottom: 0;
	box-sizing: border-box;
	padding-bottom: 60px;
	width: 100%;
	min-width: 646px;
	height: 99px;
	text-align: center;
}
.footer p {
	line-height: 15px;
	font-size: 12px;
	color: #757575;
}
.footer p a {
	display: inline-block;
	padding: 0 8px;
	color: #406dd6;
	border-left: 1px solid #ccc;
}
.beian {
	margin-top: 12px;
	display: block;
	width: 100%;
	font-size: 12px;
	color: #406dd6;
}
/* footer end */