/* 整体样式设置 */
body {
	font-size: .5rem;
	font-family: 'Microsoft YaHei',sans-serif;
	background: #EDEDED;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear:after {
	content: '';
	display: block;
	clear: both;
}
.clear::after {
	content: '';
	display: block;
	clear: both;
}
/* 整体样式设置 */

/* 头部固定折叠框 */
.nav_f {
	position: fixed;
	top: 0;
	width: 100%;
	min-width: 90%;
	height: 2.1rem;
	background-color: #1a1a1a;
	z-index: 99999;
}
.menu {
	display: block;
	margin-left: 5px;
	width: 2.1rem;
	height: 2.1rem;
	background: url('../images/menu_icon.png') no-repeat 0 0 / 2.1rem;
}
.logo {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -1.05rem;
	width: 2.1rem;
	height: 2.1rem;
	background: url('../images/nav-logo.f28bcf8a8822503b73bec6c09a784851.png') no-repeat 0 0 / 2.1rem;
}
.menu_list {
	position: fixed;
	top: 0;
	box-sizing: border-box;
	width: 100%;
	height: 0;
	overflow: hidden;
	background-color: #000;
	z-index: 999;
}
.menu_list ul {
	display: flex;
	flex-flow: row wrap;
	margin-top: 2.1rem;
}
.menu_list li {
	box-sizing: border-box;
	padding-top: 2.55rem;
	width: 25%;
	height: 3.6rem;
	text-align: center;
	color: #ddd;
	border-right: 1px solid #141414;
	border-bottom: 2px solid #090909;
	background: url('../images/12kj3h1k2j3h.png') no-repeat;
	background-size: auto 31.95rem;
	opacity: .8;
}
.menu_list li:nth-of-type(1) {
	background-position: 50% -3.55rem;
}
.menu_list li:nth-of-type(2) {
	background-position: 50% -28.4rem;
}
.menu_list li:nth-of-type(3) {
	background-position: 50% -24.85rem;
}
.menu_list li:nth-of-type(4) {
	background-position: 50% -14.2rem;
}
.menu_list li:nth-of-type(5) {
	background-position: 50% -17.75rem;
}
.menu_list li:nth-of-type(6) {
	background-position: 50% -21.3rem;
}
.menu_list li:nth-of-type(7) {
	background: none;
}
.menu_list li:nth-of-type(8) {
	background: none;
}
/* 头部固定折叠框 end*/

/* head_lunbo */
.head_lb {
	margin-top: 2.1rem;
	padding-top: .61rem;
	width: 100%;
	background-color: #fff;
}
.head_lb_wrapper {
	position: relative;
	box-sizing: border-box;
	margin: 0 auto;
	width: calc(100% - 1.2rem);
	height: 7rem;
	overflow: hidden;
}
.head_lb_inner {
	position: absolute;
	height: 7rem;
}
.head_lb_inner img {
	float: left;
	margin-right: 1px;
	height: 100%;
	border-radius: .4rem;
}
.circles {
	position: absolute;
	bottom: .4rem;
	left: 50%;
}
.circles li {
	float: left;
	margin-right: .2rem;
	width: .2rem;
	height: .2rem;
	border: 1px solid #fff;
	border-radius: 50%;
}
/* head_lunbo end */

/* nav_list */
.nav_list_wrapper {
	padding-top: .57rem;
	padding-bottom: .6rem;
	width: 100%;
	background-color: #fff;
}
.nav_list {
	display: flex;
	flex-flow: row nowrap;
}
.nav_list li {
	box-sizing: border-box;
	padding: .2rem .2rem;
	display: flex;
	flex-flow: row nowrap;
	width: 20%;
	line-height: .8rem;
}
.nav_list li img {
	margin: .15rem;
	width: 1.2rem;
	height: 1.2rem;
	opacity: .8;
}
.nav_list li p {
	display: inline-block;
	font-size: .5rem;
	color: #666;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/* nav_list end */

/* 热卖商品 */
.rm {
	margin-top: .25rem;
	padding-bottom: 1.2rem;
	width: 100%;
	background-color: #fff;
	overflow: hidden;
}
.rm_title {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	height: 2rem;
	line-height: 2rem;
    font-size: .75rem;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.rm_title h2 {
	padding-left: .8rem;
	width: 90%;
}
.rm_list {
	width: 100%;
	margin-top: .9rem;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}
.rm_list li {
	box-sizing: border-box;
	display:inline-block;
	width: 36%;
}
.rm_list li img {
	width: 100%;
}
.rm_list li h4 {
	padding-left: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    font-size: .6rem;
    color: #333;
}
.rm_list li p {
	padding-left: 1rem;
    margin-top: .3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .5rem;
    line-height: 1.2;
    color: #7f7f7f;
    min-height: .6rem;
}
.rm_list li div {
	margin-top: .3rem;
	padding-left: 1rem;
    white-space: nowrap;
    font-weight: 700;
    color: #d44d44;
}
.rm_list i {
	margin-right: .2rem;
	font-size: .5rem;
}
.rm_list span {
	font-size: .6rem;
	font-weight: 600;
}
.rm_list del {
	margin-left: .2rem;
	color: #7f7f7f;
	font-size: .5rem;
}
/* 热卖商品 end */

/* banner */
.banner01 {
	box-sizing: border-box;
	margin-top: .25rem;
	padding: .7rem .6rem;
	width: 100%;
	background-color: #fff;
}
.banner01_list {
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}
.banner01_list li {
	margin-right: .3rem;
	display: inline-block;
	width: 75%;
	border-radius: .5rem;
}
.banner01_list li:last-child {
	margin-right: 0;
}
.banner01_list img {
	width: 100%;
}
/* banner end */

/* md_lb */
.md_lb {
	margin-top: .25rem;
	width: 100%;
	background-color: #fff;
}
.md_lb_title h4 {
	padding-left: .7rem;
	height: 2rem;
    line-height: 2rem;
    font-size: .75rem;
    font-weight: 700;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.md_lb_wrapper {
	position: relative;
	padding: .9rem 0 1.2rem;
	width: 100%;
	overflow: hidden;
}
.md_lb_inner {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}
.md_lb_inner li {
	float: left;
	width: 100%;
}
.md_lb_item {
	margin: 0 .6rem;
	box-sizing: border-box;
	text-align: center;
}
.md_lb_item img {
	width: 100%;
}
.md_lb_item h4 {
    word-break: break-word;
    line-height: 1rem;
    font-size: .6rem;
    font-weight: 600;
    color: #333;
    white-space: nowrap;
    text-align: center;
}
.md_lb_item p {
	overflow: hidden;
    margin: .3rem auto;
    font-size: .5rem;
    color: #7f7f7f;
    text-overflow: ellipsis;
    text-align: center;
    width: 80%;
    white-space: nowrap;
}
.md_lb_item i {
	font-size: .5rem;
    color: #d44d44;
}
.md_lb_item span {
	font-weight: 600;
	font-size: .6rem;
    color: #d44d44;
}
/* md_lb end */

/* banner02 */
.banner02 {
	margin-top: .25rem;
	width: 100%;
	background-color: #fff;
}
.banner02_list {
	overflow: hidden;
}
.banner02_list li {
	margin: .8rem .7rem;
}
.banner02_list img {
	width: 100%;
	border-radius: .5rem;
}
/* banner02 end */

/* last_lb */
.last_lb {
	margin-top: .25rem;
	width: 100%;
	background-color: #fff;
}
.last_lb_title h4 {
	padding-left: .7rem;
	height: 2rem;
    line-height: 2rem;
    font-size: .75rem;
    font-weight: 700;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.last_lb_wrapper {
	position: relative;
	margin-top: 1rem;
	padding: .9rem 0 .7rem;
	width: 100%;
	overflow: hidden;
}
.last_lb_inner {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}
.last_lb_inner li {
	float: left;
	width: 100%;
}
.last_lb_item {
	margin: 0 4rem;
	box-sizing: border-box;
	text-align: center;
}
.last_lb_item img {
	width: 100%;
}
.last_lb_item h4 {
    word-break: break-word;
    line-height: 1rem;
    font-size: .6rem;
    font-weight: 600;
    color: #333;
    white-space: nowrap;
    text-align: center;
}
.last_lb_item p {
	overflow: hidden;
    margin: .3rem auto;
    font-size: .5rem;
    color: #7f7f7f;
    text-overflow: ellipsis;
    text-align: center;
    width: 80%;
    white-space: nowrap;
}
.last_lb_item i {
	font-size: .5rem;
    color: #d44d44;
}
.last_lb_item span {
	font-weight: 600;
	font-size: .6rem;
    color: #d44d44;
}
.jhq_list {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	overflow: hidden;
}
.jhq_list li {
	display: flex;
	flex-flow: row nowrap;
	width: 50%;
	height: 3rem;
	box-sizing: border-box;
}
.jhq_list li img {
	margin-top: .6rem;
	margin-left: .7rem;
	width: 1.8rem;
	height: 1.8rem;
}
.jhq_list li span {
	margin-left: .4rem;
	overflow: hidden;
    text-overflow: ellipsis;
    width: 50%;
    word-break: break-word;
    line-height: 3rem;
    font-size: .6rem;
    font-weight: 700;
    color: #333;
    white-space: nowrap
}
.jhq_list li i {
	margin-left: .4rem;
	line-height: 3rem;
	font-size: .8rem;
	font-weight: 600;
	color: #666;
	opacity: .8;
}
/* last_lb end */

/* banner03 */
.banner03 {
	margin-top: .25rem;
	box-sizing: border-box;
	padding: 1rem .7rem;
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	background-color: #fff;
}
.banner03_left {
	display: flex;
	flex-flow: column nowrap;
	width: 50%;
	margin-right: .6rem;
}
.banner03_left li {
	margin-bottom: .3rem;
}
.banner03_left img {
	border-radius: .5rem;
	border: 1px solid #ededed;
	border-radius: .5rem;
}
.banner03_right {
	width: 50%;
}
.banner03 img {
	width: 100%;
	height: 100%;
}
/* banner03 end */

/* pro2 */
.pro2 {
	margin-top: .25rem;
	padding-bottom: .9rem;
	width: 100%;
	background-color:#fff;
}
.pro2_title {
	display: flex;
	flex-flow: row nowrap;
	padding-left: .7rem;
    line-height: 2rem;
    font-size: .75rem;
    font-weight: 700;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pro2_title h2 {
	width: 90%;
}
.pro2_title span {
	opacity: .8;
}
.pro2_list {
	margin: .9rem 0;
	display: flex;
	flex-flow: row wrap;
}
.pro2_list li {
	padding-left: 1.2rem;
	box-sizing: border-box;
	width: 50%;
}
.pro2_list li img {
	width: 100%;
}
.pro2_list li h3 {
	margin-top: .3rem;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .6rem;
    font-weight: 600;
    color: #333;
}
.pro2_list li p {
    margin-top: .3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .5rem;
    line-height: 1.2;
    color: #7f7f7f;
    min-height: .6rem;
}
.pro2_list li div {
	margin-top: .3rem;
}
.pro2_list i {
    color: #d44d44;
    font-size: .5rem;
}
.pro2_list span {
	margin-left: .2rem;
	font-weight: 600;
	font-size: .6rem;
	color: #d44d44;
}
.pro2_list li del i,.pro2_list li del span {
	margin-left: .3rem;
	font-size: .4rem;
	font-weight: 100;
	color: #7f7f7f;
}
.pro2_list li del span {
	font-size: .5rem;
	margin-left: 0;
}
/* pro2 end */

/* pro */
.pro {
	margin-top: .25rem;
	width: 100%;
	background-color:#fff;
	box-shadow: 0 5px 13px rgba(0,0,0,.1);
}
.pro_title {
	display: flex;
	flex-flow: row nowrap;
	padding-left: .7rem;
    line-height: 2rem;
    font-size: .75rem;
    font-weight: 700;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pro_title h2 {
	width: 90%;
}
.pro_list {
	margin-top: .5rem;
	width: 100%;
}
.pro_list>li {
	padding: .6rem;
	display: flex;
	flex-flow: row nowrap;
}
.pro_list img {
    margin-right: 1.55rem;
    margin-left: .3rem;
	width: 6.05rem;
    height: 6.05rem;
    box-sizing: border-box;
}
.pro_detail {
	margin-top: .6rem;
}
.pro_detail h3 {
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 700;
    font-size: .6rem;
    color: #333;
}
.pro_detail p {
	color: #7f7f7f;
    font-size: .5rem;
    line-height: 1.2;
    overflow-x: hidden;
    margin: .3rem 0 .25rem;
}
.colors {
	margin-top: .3rem;
	display: flex;
	flex-flow: row nowrap;
}
.colors li {
	margin-right: .2rem;
	padding: 0 .3rem;
    line-height: .6rem;
    font-size: .4rem;
    font-weight: 700;
    color: #3965cc;
    text-align: center;
    white-space: nowrap;
    border-radius: .14286rem;
    border: 1px solid #94b3f7;
    background-color: #E5EFFF;
}
.col_cirs {
	margin-top: .5rem;
	display: flex;
}
.col_cirs li {
	margin-right: .3rem;
	width: .18rem;
    height: .18rem;
    border: 1px solid #ccc;
    border-radius: 50%;
}
.pro_detail div {
	margin-top: .8rem;
	color: #d44d44;
	font-weight: 600;
	font-size: .6rem;
}
.pro_detail div i {
	font-size: .5rem;
}
.pro_detail div del {
	font-weight: 100;
	margin-left: .2rem;
	color: #7f7f7f;
}
.pro_detail div del i {
	font-size: .4rem;
}
.pro_detail div del span {
	font-size: .5rem;
}
._181818 {
	background-color: #181818;
}
._752728 {
	background-color: #752728;
}
._D8CEC3 {
	background-color: #D8CEC3;
}
._1A1A1A {
	background-color: #1A1A1A;
}
._291611 {
	background-color: #291611;
}
._A7394C {
	background-color: #A7394C;
}
._282828 {
	background-color: #282828;
}
._4C2C25 {
	background-color: #4C2C25;
}
._E4DDD5 {
	background-color: #E4DDD5;
}
._E8D5D9 {
	background-color: #E8D5D9;
}
/* pro end */

/* banner04 */
.banner04 {
	margin-top: .25rem;
	width: 100%;
	background-color: #fff;
}
.banner04_list {
	overflow: hidden;
}
.banner04_list li {
	margin: .8rem .7rem;
}
.banner04_list img {
	width: 100%;
	border-radius: .5rem;
}
/* banner04 end */

.jx {
	margin-bottom: 2.25rem;
}

/* footer_fixed */
.footer {
	position: fixed;
	bottom: 0;
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	overflow: hidden;
	border-top: 2px solid #D9D9D9;
	background-color: #fff;
	z-index: 99999;
}
.footer li {
	width: 25%;
	height: 2.25rem;
	box-sizing: border-box;
    opacity: .8;
}
.footer li:first-child {
	opacity: 1;
}
.footer li img {
	display: block;
    margin: .3rem auto .15rem;
    width: 1rem;
}
.footer li p {
	color: #666;
    font-size: .45rem;
    text-align: center;
}
/* footer_fixed end */